<h1>The Travel Diary Application</h1>
<% if (user) { %>
   <p>User <%= user.name %> is logged on.</p>
   <form method="POST" action="/sessions/logoff">
      <button>Logoff</button>
   </form>
<% } %>

<% if (errors) { %>
  <% errors.forEach((err) => { %>
    <div>
      Error: <%= err %>
    </div>
  <% }) %>
<% } %> <!-- Closing tag added here -->

<% if (info) { %>
  <% info.forEach((msg) => { %>
    <div>
      Info: <%= msg %>
    </div>
  <% }) %>
<% } %> <!-- Closing tag added here -->

<hr />